@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400&display=swap");
@import url("./base.css");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  max-width: 100%;
}
